body {
    background-image:url("./../Images/background-image11.gif");
    background-repeat:repeat;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

  }
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  @font-face {
    font-family: "Oxanium", sans-serif;
    src: url("./../fonts/Oxanium/static/Oxanium-Regular.ttf") format('ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  .kablammo {
    font-family: "Kablammo", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "MORF" 0;
  }
  
  .agdasima-regular {
    font-family: "Agdasima", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .agdasima-bold {
    font-family: "Agdasima", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  .oxanium-regular {
    font-family: "Oxanium", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
  }
  
  .oxanium-bold {
    font-family: "Oxaniium", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  .oxanium-link {
    font-family: "Oxanium", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  p{
    font-family: "Oxanium", sans-serif;
    color: white;
  }
  .navbar1{
     width: 50vw;
     height: 6vh;
     min-height: 100%;
     border-radius: 25px;
     justify-content: space-between;
     justify-content: center;
     display: flex;
     align-items: center;
     gap: 10%;
     flex-direction: row;
     margin-top: 1vw;  
     max-height: 100%;
     font-size: calc(0.5vh + 1vw);
  }
.container{
    display: flex;

    justify-content: space-between;
    background-color: rgb(0 0 0 / 90%);
    width: 90vw;
    height: 80%;
    min-height: 70%;
    margin: auto;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
    width: calc(80vw - 2vw);
    box-sizing: border-box;
    justify-content: flex-start;
    align-self: center;
    min-width: 80vw;
    margin-left: auto;
    padding-top: calc(8vh + 7vw);
    overflow: hidden;
   
   
}
.nav-container{ 
    display: flex;
    position: fixed;
    justify-content: space-between;
    background-color: rgb(0 0 0 / 98%);
    top:0;
    margin: 0 auto;
    border-radius: 20px;
    align-self: center;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    width: calc(80vw - 2vw);
    box-sizing: border-box;
    min-width: 80vw;
    margin-left: auto;
    margin-top: 0;
    overflow: hidden;
    margin-bottom: 4.5vh;
    flex-flow: stretch;
    align-items: center;
}
.container2{
    display: flex;
    flex-direction: row;
    margin-top: calc(2.5vh + 1.5vw);
    max-width: 100%;
    justify-content: space-between;
    gap: 20%;
    width: 100%;
    padding-bottom: calc(2vw - 10vw);
}
a{
    color: white;
    text-decoration: none;   
}

a.navbar1{
    font-size: calc(1em - 4vh);

}

a:hover {
    color:#FF00FF;
    text-decoration: none; 
} 
a:active {
    color:purple;
    text-decoration: none; 
} 

	
.active-page
{
    text-decoration: underline white;
    text-underline-offset: 0.5rem;
}
.hamburger-nav {
    overflow: hidden;
  }
  
  .hamburger-nav a {
    
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 5px 9px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .hamburger-nav a:hover {
    background-color: #ddd;
    color: grey;
  }
  
  .hamburger-nav a.active {
    background-color: black;
    color: white;
  }
  
  .hamburger-nav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .hamburger-nav a:not(:first-child) {display: none;}
    .hamburger-nav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .hamburger-nav.responsive {position: relative;}
    .hamburger-nav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .hamburger-nav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  
  @media only screen and (max-width: 480px) {
  .navbar1{
  display: none;

  }
  .container2{
    margin-top: 0;
    
}
.logo-img{
    padding-top: 20%;

}
.logo-container{
    max-width: 40vw;
}
  }

  @media only screen and (min-width: 481px) {
  .hamburger-nav{
  display: none!important; 
  }
  }
.logo{
    display: flex;
    margin-left: 10%;
    height: calc(4vh + 2vw);
    
}
.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 20vw;
    flex-direction: column;
    align-self: center;
}
.logo-img{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    
}
h2{
    color: white;
    font-size: calc(0.2em + 2vw);
    font-family: "Kablammo", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "MORF" 0;
    margin-left: 2vw; 
    margin-top: 0; 

}
.header1{
    color: white;
    display: flex;
    flex-direction: column;
    font-family: "Agdasima", sans-serif;
    font-weight: 400;
    font-style: normal;
    word-wrap: break-word;
    text-align: center;
    max-width: 100%;
    font-size: calc(1.5em + 1vw);
    animation-name: fadeIn;
    animation-duration: 6s;
    box-sizing: content-box;
    
}
.header2{
    color: white;
    display: flex;
    flex-direction: column;
    font-family: "Agdasima", sans-serif;
    font-weight: 400;
    font-style: normal;
    word-wrap: break-word;
    text-align: center;
    max-width: 100%;
    font-size: calc(1.5em + 1vw);
    margin-top: 5%;
    animation-name: fadeIn;
    animation-duration: 6s;
    text-align: left;
}
.welcome-text{
    width: 40%;
    color: white;
    margin-top: 8vh;
    margin-bottom: 10vh;
}
@media screen and (max-width: 600px) {
    .welcome-text{
       width: 90%;
    }
    .container .container2 .nav-container{
        width: 99%;
    }
}
.footer{
    
    text-align: center;
    color:white;
    margin-top: 10%;
    margin-bottom:10%;
    font-size:0.7em;
}
svg {
    margin-left: 1vw !important;

    }
label{
    color: white;
}
.contact-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
}
label{
    color: white;
}
.form-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html {

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, input, select, textarea {
  color: #5A5A5A;
  font: inherit;
  margin: 0;
  
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#contact-form {
  border: solid 3px white;
  max-width: 768px;
  margin: 60px auto;

  border-radius: 2%;
}

form {
  padding: 37.5px;
  margin: 50px 0;
}

h1 {
  color: white;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 7px;
  margin-left: 5%;
  text-transform: uppercase;
}

.underline {
  border-bottom: solid 2px white;
  margin: -0.512em auto;
  width: 90%;
}

.email {
	float: right;
	width: 45%;
}

input[type='text'], [type='email'], select, textarea {
	background: none;
  border: none;
	border-bottom: solid 2px white;
	color: white;
	font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
	margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 0;
  text-transform: uppercase;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
	outline: none;
	padding: 0 0 0.875em 0;
}

.message {
	float: none;
}

.name {
	float: left;
	width: 45%;
}

select {
  background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
  outline: none;
  color: white;
  background-color: rgb(0 0 0 / 90%);
  
}

select::-ms-expand {
    display: none;
   
  }
  
.subject {
  width: 100%;
}

.telephone {
  width: 100%;
}

textarea {
	line-height: 150%;
	height: 150px;
	resize: none;
  width: 100%;
}

::-webkit-input-placeholder {
	color: white;
}

:-moz-placeholder { 
	color: white;
	opacity: 1;
}

::-moz-placeholder {
	color: white;
	opacity: 1;
}

:-ms-input-placeholder {
	color: white;
}

#form_button {
  background: none;
  border: solid 2px white;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
    margin-top: 5%;
}

#form_button:hover {
  background: #5A5A5A;
  color: white;
}

@media screen and (max-width: 768px) {
  #container {
    margin: 20px auto;
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px;
  }
  
  .underline {
    width: 68px;
  }
  
  #form_button {
    padding: 15px 25px;
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 18px;
  }
  
  .icon {
    height: 35px;
    width: 35px;
  }
  
  .underline {
    width: 53px;
  }
  
  input[type='text'], [type='email'], select, textarea {
    font-size: 0.875em;
  }
}